.album {
	&__img {
		width: 210px;
		height: 210px;
		border-radius: 6px;
	}

	&__name {
		margin-top: 5px;
		display: flex;
		justify-content: center;
		color: #f1f1f1;
		font-size: 16px;
		font-weight: 400;
	}
    &__artist {
		margin-top: 5px;
		display: flex;
		justify-content: center;
		color: #636363;
		font-size: 16px;
		font-weight: 400;
	}
}
