.album {
	cursor: pointer;
	border: 5px solid transparent;
	border-radius: 10px;

	&__img {
		border-radius: 5px;
		transition-duration: 0.2s;
		transition-timing-function: ease;

		&:hover {
			transform: scale(1.1);
		}
	}

	&__name,
	&__artist {
		margin-top: 5px;
		display: flex;
		justify-content: center;
		color: #f1f1f1;
		font-size: 1rem;
		font-weight: 400;
	}
}