<div class="playlists__container">
  <div class="playlists__block">
    {{#if showMoreHref}}
      <div class="playlists__text">
        Популярные плейлисты
        <a href="{{ showMoreHref }}" class="playlists__show_more link">Показать еще</a>
      </div>
    {{/if}}
    <div class="playlists__list" id="mainpage-popular-playlists">
    
    </div>
  </div>
</div>
