<div class="playlists__container container">
  <div class="playlists__block block">
    {{#if showMoreHref}}
      <div class="playlists__text">
        <h4>Популярные плейлисты</h4>
        <a href="{{ showMoreHref }}" class="playlists__show_more link"><h4>Показать еще</h4></a>
      </div>
    {{/if}}
    <div class="playlists__list" id="mainpage-popular-playlists">
    
    </div>
  </div>
</div>
