.track-playlist-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.track-playlist-modal {
    background: #1f1f1f;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 20px;
    width: 400px;
    text-align: center;

    &__header {
        color: #f1f1f1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__close-btn {
        border: none;
        background: none;
        color: #ccc;
        font-size: 20px;
        cursor: pointer;
    }

    &__body {
        margin-top: 20px;
    }

    &__playlist-link {
        display: block;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #ccc;
        background: #474646;
        color: #ccc;
        border-radius: 4px;
        text-decoration: none;
        cursor: pointer;

        /* &:hover {
            background-color: #f1f1f1;
        } */
    }
}