<div class="playlist__time track">
    <div class="track__left_side">
        <img class="track__img" src="/images/{{ this.image }}">
        <div class="track__info">
            <div class="track__name">{{ this.name }} </div>
            <div class="track__artist">{{ this.artist }} </div>
        </div>
    </div> 
    <div class="track__right_side">
        {{ this.duration }}
        <img src="/images/icons/music.svg">
    </div>
</div>
