<div class="track__left_side">
    <img class="track__img" src="{{ track.image }}">
    <div class="track__info">
        <div class="track__name">{{ track.name }} </div>
        <div class="track__artist">{{ track.artist }} </div>
    </div>
</div>
<div class="track__right_side">
    {{#if isMyPlaylist }}
    <img src="/images/icons/trash.svg" id="delete-from-playlist" class="track__delete-btn">
    {{/if}}
    {{#if user.isAuthorized}}
    <img src="/images/icons/add.svg" id="add-to-playlist" class="track__add-btn">
    {{/if}}
    {{ track.duration }}
    <img src="/images/icons/music.svg">
</div>