.register {
  height: 100%;
}

.register__container {
  max-width: 1280px;
  margin: 0 auto;
}

.register__intro {
  min-height: 142px;
  margin: 0 auto;
  margin-top: 31px;
  background-color: rgba(241.39, 241.39, 241.39, 0.1);
  border-radius: 9px;
  width: 80%;
}

.register__title {
  padding-top: 41px;
  color: #f1f1f1;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

.register__subtitle {
  margin-top: 5px;
  color: #f1f1f1;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.register__info {
  margin-bottom: 35px;
  color: #f1f1f1;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
}

.register__form {
  margin-top: 71px;
  display: flex;
  justify-content: center;
}

.register__input {
  display: block;
  width: 430px;
  height: 30px;
  padding: 10px;
  margin-top: 30px;
  background: #f1f1f1;
  border-radius: 9px;
  border: none;
  color: #1f1f1f;
  font-size: 22px;
  font-weight: 400;
}

.register__input:first-child {
  margin-top: 0px;
}

.register__submit_btn {
  margin-top: 28px;
  width: 450px;
  height: 50px;
  padding: 10px;
  background: #ff2d55;
  border-radius: 9px;
  border: none;
  color: #f1f1f1;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.register__additional {
  margin-left: 77px;
  margin-top: 13px;
  color: #f1f1f1;
  font-size: 16px;
  font-weight: 400;
}

.register__enter_account {
  margin-left: 23px;
  text-decoration: none;
  font-weight: 700;
}

.register__enter_account:visited {
  color: #f1f1f1;
}

