<div class="modal_confirm__fade">
    <div class="modal_confirm__container">
        <div class="modal_confirm__text">
            <h4>{{ text }}</h4>
        </div>
        <div class="modal_confirm__btn_container">
            <button class="modal_confirm__btn_yes button"><h4>Да, выйти</h4></button>
            <button class="modal_confirm__btn_no button"><h4>Отмена</h4></button>
        </div>
    </div>
</div>