<div class="modal_confirm__fade">
    <div class="modal_confirm__container">
        <div class="modal_confirm__text">
            {{ text }}
        </div>
        <div class="modal_confirm__btn_container">
            <button class="modal_confirm__btn_yes">Да, выйти</button>
            <button class="modal_confirm__btn_no">Отмена</button>
        </div>
    </div>
</div>