@use "/src/colors.scss";

.side_menu {
  height: 100%; // 100% Full-height
  width: 0; // 0 width - change this with JavaScript
  position: fixed; // Stay in place
  z-index: 10000; // Stay on top
  top: 0; // Stay at the top
  right: -20px;
  background-color: colors.$black; // Black
  overflow-x: hidden; // Disable horizontal scroll
  padding: 0px 10px; // Place content 60px from the top
  transition: margin-left 0.5s; // 0.5 second transition effect to slide in the sidenav
  display: none;
  box-sizing: border-box;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    justify-content: start;
  }

  &>* {
    margin-bottom: 10px;
  }

  &__link {
    display: block;
    color: colors.$white;
    text-decoration: none;

    &:hover {
      opacity: 0.5;
    }

    @media (max-width: 1023px) {
      font-size: 20px;
    }

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  &__button_close {
    display: flex;
    height: 55px;
    justify-content: start;
    align-items: center;
    color: colors.$white;
  }
}

.active {
  border-bottom: 3px solid colors.$orange;

  @media (max-width: 768px) {
    border-bottom: 2px solid colors.$orange;
    ;
  }
}