@use "/src/colors.scss";

.create-playlist-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.create-playlist-modal {
    background: colors.$black;
    border-radius: 8px;
    border: 1px solid colors.$white;
    padding: 20px;
    width: 400px;
    text-align: center;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: colors.$white;
    }

    &__close-btn {
        border: none;
        background: none;
        color: colors.$white;
        font-size: 20px;
        cursor: pointer;
    }

    &__body {
        margin-top: 20px;
    }

    &__title {
        margin-bottom: 20px;
        color: colors.$white;
    }

    &__label {
        display: block;
        margin-bottom: 8px;
        color: colors.$white;
    }

    &__input {
        width: 100%;
        //padding: 8px;
        margin-bottom: 20px;
        border: 1px solid colors.$white;
        background: colors.$light-gray;
        color: colors.$white;
        //border-radius: 4px;
        box-sizing: border-box;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    &__cancel,
    &__submit {
        padding: 10px 20px;
        border-radius: 10px;
        color: colors.$white;
        cursor: pointer;
        border: none;
    }

    &__cancel {
        background: colors.$light-gray;
    }

    &__submit {
        background: colors.$orange;
    }
}
