<div class="create-playlist-modal__content">
    <h2 class="create-playlist-modal__title">Create Playlist</h2>
    <form class="create-playlist-modal__form">
        <label for="playlist-name" class="create-playlist-modal__label">Playlist Name</label>
        <input
            type="text"
            id="playlist-name"
            name="playlist-name"
            class="create-playlist-modal__input"
            placeholder="Enter playlist name"
            required
        />
        <div class="create-playlist-modal__actions">
            <button type="submit" class="create-playlist-modal__submit">Create</button>
            <button type="button" class="create-playlist-modal__cancel">Cancel</button>
        </div>
    </form>
</div>