<div class="player__container">
  <div class="player__block">
    <button class="player__play_btn" disabled>
      <img class="player__btn_img" src="/images/icons/play.svg">
    </button>
    <h1 class="player__title">NovaWave</h1>
    <div class="player__info">Слушать динамическую подборку</div>
  </div>
</div>
