@use "/src/colors.scss";

.edit_user {

  &__text {
    color: colors.$white;
    margin-bottom: 10px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    display: block;
    width: 430px;
    height: 30px;
    //padding: 10px;
    margin-top: 15px;
    background: colors.$white;
    //border-radius: 9px;
    border: none;
    color: colors.$black;

    &:first-child {
      margin-top: 0px;
    }

    &_error {
      color: colors.$red;
    }
  }

  &__submit_btn {
    margin-top: 20px;
    padding: 10px;
    background: colors.$orange;
    border-radius: 9px;
    border: none;
    color: colors.$white;
    text-align: center;
    cursor: pointer;
  }
}

/* @media (max-width: 1380px) {
  .edit_user {
    &__block {
      width: 90%;
    }
  }
}

@media (max-width: 768px) {
  .edit_user {
    &__text {
      font-size: 19px;
    }

    &__input {
      height: 24px;
      font-size: 18px;
    }

    &__submit_btn {
      margin-top: 15px;
      font-size: 20px;
    }
  }
}

@media (max-width: 580px) {
  .edit_user {
    &__input {
      width: 300px;
      height: 22px;
      font-size: 16px;
    }

    &__submit_btn {
      margin-top: 12px;
      font-size: 18px;
    }
  }
}

@media (max-width: 480px) {
  .edit_user {
    &__text {
      font-size: 16px;
    }

    &__input {
      width: 250px;
      height: 20px;
      font-size: 14px;
    }

    &__submit_btn {
      margin-top: 10px;
      font-size: 16px;
    }
  }
}
 */