.edit_user {
  &__container {
    max-width: 1280px;
    margin: 0 auto;
  }

  &__block {
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(241.39, 241.39, 241.39, 0.1);
    border-radius: 9px;
    margin-top: 12px;
  }

  &__text {
    color: #f1f1f1;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    display: block;
    width: 430px;
    height: 30px;
    padding: 10px;
    margin-top: 15px;
    background: #f1f1f1;
    border-radius: 9px;
    border: none;
    color: #1f1f1f;
    font-size: 22px;
    font-weight: 400;

    &:first-child {
      margin-top: 0px;
    }

    &_error {
      color: #ff0000;
      font-weight: 700;
    }
  }

  &__submit_btn {
    margin-top: 30px;
    padding: 10px;
    background: #ff5f0f;
    border-radius: 9px;
    border: none;
    color: #f1f1f1;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }
}
