.artist__container {
	max-width: 1280px;
	margin: 0 auto;
}

.artist__block {
	margin: 0 auto;
	padding: 10px;
	background-color: rgba(241.39, 241.39, 241.39, 0.1);
	border-radius: 9px;
	width: 80%;
	margin-top: 12px;
}

.artist__header {
	color: #f1f1f1;
	font-size: 24px;
	font-weight: 400;
}

.artist__popular {
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
}

.artist__image {
	width: 190px;
	height: 190px;
	border-radius: 6px;
}

.artist__name {
	margin-top: 5px;
	display: flex;
	justify-content: center;
	color: #f1f1f1;
	font-size: 16px;
	font-weight: 400;
}
