{{!-- {{#each items}} --}}
{{!--     <div class="artist-container"> --}}
{{!--         <img src="{{ image }}" class="artist-photo"> --}}
{{!--         <div class="artist-name">{{ name }}</div> --}}
{{!--     </div> --}}
{{!-- {{/each}} --}}