@use "/src/colors.scss";

.album_card {
  &__text {
    color: colors.$white;
    margin-bottom: 10px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
  }

  &__img {
    display: block;
    border-radius: 5px;
  }

  &__aside {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}

.album_info {
  color: colors.$white;
  
  &__name {
    margin-bottom: 20px;
  }

  &__artist_release {
    margin-bottom: 15px;
  }

  &__likes,
  &__listen {
    margin-bottom: 10px;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
}

/* .buttons {
  display: flex;
  gap: 10px;

  &__subscribe,
  &__listen {
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 5px;
    padding: 10px;
    background: $button-background;
    border-radius: 9px;
    color: $white;
    transition: 0.2s;
    transition-timing-function: ease;

    &:hover {
      transform: scale(1.1);
    }
  }
} */

/* @media (max-width: 1380px) {
  .album_card {
    &__block {
      width: 90%;
    }
  }
}

@media (max-width: 1023px) {
  .album_card {
    &__img {
      height: 225px;
      width: 225px;
    }
  }

  .album_info {
    &__name {
      font-size: 38px;
      margin-bottom: 15px;
    }

    &__artist_release {
      font-size: 23px;
    }

    &__listen {
      margin-bottom: 20px;
    }
  }

  .buttons {
    &__subscribe,
    &__listen {
      font-size: 22px;
    }

    &__icon {
      width: 25px;
      height: 25px;
    }
  }
}

@media (max-width: 768px) {
  .album_card {
    &__img {
      height: 210px;
      width: 210px;
    }

    &__text {
      font-size: 19px;
    }
  }

  .album_info {
    &__name {
      font-size: 32px;
      margin-bottom: 10px;
    }

    &__artist_release {
      font-size: 21px;
      margin-bottom: 10px;
    }
  }

  .buttons {
    &__subscribe,
    &__listen {
      padding: 8px;
      font-size: 16px;

      &:hover {
        transform: none;
      }

      &:active {
        transform: scale(1.1);
      }
    }

    &__icon {
      width: 18px;
      height: 18px;
    }
  }
}

@media (max-width: 600px) {
  .album_card {
    &__img {
      height: 175px;
      width: 175px;
    }

    &__wrapper {
      gap: 15px;
    }

    &__text {
      font-size: 19px;
      margin-bottom: 5px;
    }
  }

  .album_info {
    &__name {
      font-size: 26px;
      margin-bottom: 5px;
    }

    &__artist_release {
      font-size: 18px;
      margin-bottom: 10px;
    }

    &__likes,
    &__listen {
      font-size: 14px;
    }

    &__listen {
      margin-bottom: 10px;
    }
  }

  .buttons {
    flex-direction: column;
    align-items: center;

    &__subscribe,
    &__listen {
      justify-content: flex-start;
      width: 135px;
      padding: 8px;
      font-size: 16px;
    }

    &__icon {
      width: 17px;
      height: 17px;
    }
  }
}

@media (max-width: 480px) {
  .album_card {
    &__text {
      font-size: 16px;
    }

    &__img {
      height: 145px;
      width: 145px;
    }
  }

  .album_info {
    &__name {
      font-size: 22px;
      margin-bottom: 5px;
    }

    &__artist_release {
      font-size: 16px;
      margin-bottom: 10px;
    }

    &__likes,
    &__listen {
      font-size: 14px;
      margin-bottom: 5px;
    }

    &__listen {
      margin-bottom: 10px;
    }
  }

  .buttons {
    flex-direction: column;
    align-items: center;

    &__subscribe,
    &__listen {
      justify-content: flex-start;
      width: 120px;
      padding: 5px;
      font-size: 14px;
    }

    &__icon {
      width: 15px;
      height: 15px;
    }
  }
}
 */