<div class="csat_window__container">
    <div class="csat_window__text">
        <h1>{{ text }}</h1>
    </div>
    <div class="csat_window__btn_container">
        <button class="csat_window__btn_yes">Да</button>
        <button class="csat_window__btn_no">Hет</button>
    </div>
</div>
