<div class="csat-window__container">
    <div class="csat-window__text">
        <h1>{{ text }}</h1>
    </div>
    <div class="csat-window__btn_container">
        <button class="csat-window__btn_yes">Да</button>
        <button class="csat-window__btn_no">Hет</button>
    </div>
</div>