.csat-iframe {
  position: fixed;
  width: 420px;
  height: 250px;
  z-index: 9999;
  border: none;
  background-color: transparent;
}

.csat-window {
  &__container {
    width: 80%;
    height: 80%;
    max-width: 400px;
    max-height: 200px;
    /* height: auto; */
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  &__text {
    color: #f1f1f1;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
  }

  &__btn_container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  &__btn_yes,
  &__btn_no {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 9px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
  }

  &__btn_yes {
    background: rgba(241, 241, 241, 0.25);
    color: #f1f1f1;

    &:hover {
      background: rgba(241, 241, 241, 0.4);
      transform: scale(1.05);
    }
  }

  &__btn_no {
    background: #ff5f0f;
    color: #f1f1f1;

    &:hover {
      background: #ff3b0f;
      transform: scale(1.05);
    }
  }
}
