@use "/src/colors.scss";

button,
input {
  font-family: inherit;
}

.csat-iframe {
  position: fixed;
  width: 420px;
  height: 250px;
  z-index: 1337;
  border: none;
  background-color: transparent;
}

.csat_window {

  &__container {
    font-family: "Comfortaa", sans-serif;
    font-size: 16px;
    width: 75%;
    height: 80%;
    max-width: 400px;
    max-height: 200px;
    margin: 10;
    padding: 20px;
    border: 1px solid colors.$white;
    border-radius: 10px;
    background-color: colors.$black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__btn_close {
    position: absolute;
    top: 10px;
    right: 35px;
    background: none;
    border: none;
    color: colors.$white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      color: colors.$orange;
    }
  }

  &__title {
    color: colors.$white;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px;
  }

  &__submit {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 9px;
    border: none;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;

    &:hover {
      background: colors.$light-gray;
      transform: scale(1.05);
    }
  }
}

.rating_cast {
  &__container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 10px;
  }

  &__block {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    padding: 7px;
    background: colors.$light-gray;
    border-radius: 9px;
    color: colors.$white;
    font-size: 0.8rem;
    font-weight: 300;
    cursor: pointer;
  }

  &__block_active {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 7px;
    background: rgba(100, 198, 97, 0.5);
    border-radius: 9px;
    color: colors.$white;
  }
}