<div class="popular_artists__container">
    <div class="popular_artists__block">
        <div class="popular_artists__text">Популярные артисты</div>
        <div class="carousel__container">
            <button class="carousel__button carousel__button--prev">❮</button>
            <div class="carousel__area">
                <div class="carousel__inner" id="mainpage-popular-artists">
                    {{!-- <div class="carousel__item">
                        <div class="artist">
                            <img src="images/artists/Eminem.jpeg" class="artist__img">
                            <div class="artist__name">
                                <span>Eminem</span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel__item">
                        <div class="artist">
                            <img src="images/artists/JVG.jpeg" class="artist__img">
                            <div class="artist__name">
                                <span>JVG</span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel__item">
                        <div class="artist">
                            <img src="images/artists/KUUMAA.jpeg" class="artist__img">
                            <div class="artist__name">
                                <span>KUUMAA</span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel__item">
                        <div class="artist">
                            <img src="images/artists/Robin_Packalen.jpeg" class="artist__img">
                            <div class="artist__name">
                                <span>Robin Packalen</span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel__item">
                        <div class="artist">
                            <img src="images/artists/Mirella.jpeg" class="artist__img">
                            <div class="artist__name">
                                <span>Mirella</span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel__item">
                        <div class="artist">
                            <img src="images/artists/Eminem.jpeg" class="artist__img">
                            <div class="artist__name">
                                <span>Eminem</span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel__item">
                        <div class="artist">
                            <img src="images/artists/JVG.jpeg" class="artist__img">
                            <div class="artist__name">
                                <span>JVG</span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel__item">
                        <div class="artist">
                            <img src="images/artists/KUUMAA.jpeg" class="artist__img">
                            <div class="artist__name">
                                <span>KUUMAA</span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel__item">
                        <div class="artist">
                            <img src="images/artists/Robin_Packalen.jpeg" class="artist__img">
                            <div class="artist__name">
                                <span>Robin Packalen</span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel__item">
                        <div class="artist">
                            <img src="images/artists/Mirella.jpeg" class="artist__img">
                            <div class="artist__name">
                                <span>Mirella</span>
                            </div>
                        </div>
                    </div> --}}
                </div>
            </div>
            <button class="carousel__button carousel__button--next">❯</button>
        </div>
    </div>
</div>