<div class="popular_artists__container container">
    <div class="popular_artists__block block">
        <div class="popular_artists__upper_wrapper">
            <div class="popular_artists__text">
                <h4>Популярные артисты</h4>
            </div>
            <h4><a href="{{ showMoreHref }}" class=" popular_artists__show_more link_more_artists link">Показать еще</a></h4>
        </div>
        <div class="carousel__container">
            <button class="carousel__button carousel__button--prev">❮</button>
            <div class="carousel__area">
                <div class="carousel__inner" id="mainpage-popular-artists">

                </div>
            </div>
            <button class="carousel__button carousel__button--next">❯</button>
        </div>
    </div>
</div>
