<div class="popular_artists__container">
    <div class="popular_artists__block">
        <div class="popular_artists__text">
            Популярные артисты
            <a href="{{ showMoreHref }}" class=" popular_artists__show_more link_more_artists">Показать еще</a>
        </div>
        <div class="carousel__container">
            <button class="carousel__button carousel__button--prev">❮</button>
            <div class="carousel__area">
                <div class="carousel__inner" id="mainpage-popular-artists">

                </div>
            </div>
            <button class="carousel__button carousel__button--next">❯</button>
        </div>
    </div>
</div>
