<div class="upload_avatar__container">
  <div class="upload_avatar__block">
    <div class="upload_avatar__text">Загрузка аватарки</div>
    <form class="upload_avatar__form avatar_form" id="upload-avatar-form" enctype="multipart/form-data">
      <div class="upload_avatar__input">
        <label class="avatar_form__label" for="avatar">Выберите файл:</label>
        <input
          class="avatar_form__input"
          type="file"
          id="avatar"
          name="file"
          accept=".jpg,.jpeg,.png,.webp,.svg"
          required
        />
        <br />
      </div>
      <button class="avatar_form__submit_btn" type="submit">Загрузить</button>
    </form>
  </div>
</div>
