@use "/src/colors.scss";

.tracks {

  &__upper_wrapper {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
  }

  &__recommend_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: colors.$white;
  }
}

/* @media (max-width: 768px) {
  .tracks {
    &__block {
      width: 90%;
    }

    &__recommend_text,
    &__show_more {
      font-size: 19px;
    }
  }
}

@media (max-width: 480px) {
  .tracks {
    &__recommend_text,
    &__show_more {
      font-size: 16px;
    }
  }
} */
