<div class="tracks__container">
  <div class="tracks__block">
      <div class="tracks__upper_wrapper">
        <div class="tracks__recommend_text">
          Популярные аудиозаписи
        </div>
        {{#if showMoreHref}}
        <div class="tracks__show_more">
          <a href="{{ showMoreHref }}" class="tracks__show_more link_more_tracks">Показать еще</a>
        </div>
        {{/if}}
      </div>
    <div class="tracks__tracks" id="tracks">
    
    </div>
  </div>
</div>
