<div class="share_modal__fade">
    <div class="share_modal__container">
        <div class="share_modal__text">
            <h4>Поделиться</h4>
        </div>
        <div class="share_modal__btn_container share_buttons">
            <a href="https://vk.com/share.php?url={{ url }}" target="_blank">
                <img src="/images/icons/vk_logo.svg" alt="vk_logo" class="share_buttons__button">
            </a>
            <a href="https://t.me/share/url?url={{ url }}" target="_blank">
                <img src="/images/icons/tg_logo.svg" alt="tg_logo" class="share_buttons__button">
            </a>
            <div class="share_buttons__button share_buttons__copy_link buttons__button"><h4>Копировать ссылку</h4></div>
        </div>
        <div class="share_modal__btn_container">
            <button class="share_modal__btn_cancel button"><h4>Отмена</h4></button>
        </div>
    </div>
</div>