@import "/src/colors.scss";

.listen {

  &__btn_img {
    display: block;
    margin: 0 auto;
  }

  &__title {
    margin-top: 10px;
    color: $white;
    text-align: center;
  }

  &__info {
    color: $white;
    text-align: center;
  }
}

/* @media (max-width: 768px) {
  .listen {
    &__btn_img {
      width: 175px;
      height: 175px;
    }

    &__title {
      font-size: 31px;
    }

    &__info {
      font-size: 21px;
    }
  }
}

@media (max-width: 480px) {
  .listen {
    &__btn_img {
      width: 130px;
      height: 130px;
    }

    &__title {
      font-size: 26px;
    }

    &__info {
      font-size: 18px;
    }
  }
} */
