<div class="listen__container">
  <div class="listen__block block">
    <img class="listen__btn_img button scale-btn card-img" src="/images/icons/play-circle.svg">
    <h1 class="listen__title">NovaWave</h1>
    <div class="listen__info"><h2>Слушать динамическую подборку</h2></div>
  </div>
</div>
