<div class="listen__container">
  <div class="listen__block">
    <img class="listen__btn_img" src="/images/icons/play.svg">
    <h1 class="listen__title">NovaWave</h1>
    <div class="listen__info">Слушать динамическую подборку</div>
  </div>
</div>
