<div class="playlist">
    <div class="playlist__container">
        <div class="playlist__block">
            <button class="playlist__player_btn"><img src="/images/icons/play.svg"></button>
            <h1 class="playlist__title">NovaWave</h1>
            <div class="playlist__info">Слушать динамическую подборку</div>
        </div>

        <div class="playlist__block">
            <div class="playlist__recommend_text">Подборка</div>
            {{#each items}}
            <div class="playlist__item">
                <div class="playlist__item_left">
                    <img class="playlist__item_img" src="/images/{{this.image}}">
                    <div class="playlist__item_info">
                        <div class="playlist__item_name">{{this.name}} </div>
                        <div class="playlist__item_artist">{{this.artist}} </div>
                    </div>
                </div> 
                <div class="playlist__item_right">
                    {{ this.duration }}
                    <img src="/images/icons/music.svg">
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
