<div class="playlist-name">Recommended</div>

{{#each items}}
<div class="{{this.className}}">
    <div class="track-name">Song: {{this.name}}</div>
    <div class="artist-name">Artist: {{this.artist}}</div>
</div>
{{/each}}