.header__container {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #1f1f1f;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 224px 0px 192px;
}

.header__img_logo {
  width: auto;
  height: 41px;
  vertical-align: text-bottom;
}

.header__btn_logo {
  color: #f1f1f1;
  font-size: 41px;
  font-weight: 400;
  background-color: #1f1f1f;
  border: none;
}

.header__btn_logo:hover {
  opacity: 0.5;
}

.header__btn_signup {
  color: #f1f1f1;
  font-size: 25px;
  font-weight: 400;
  background-color: #1f1f1f;
  border: none;
  margin-left: 45px;
  padding: 16px 16px;
}

.header__btn_signup:hover {
  opacity: 0.5;
}

.header__btn_login {
  color: #f1f1f1;
  font-size: 25px;
  font-weight: 400;
  background-color: #1f1f1f;
  border: none;
  padding: 16px 16px;
}

.header__btn_login:hover {
  opacity: 0.5;
}

.active {
  border-bottom: 3px solid #f1f1f1;
}