<div class="header__container">
  <div class="header__row">
    <div class="header__left-block">
      <img class="header__img_logo" src="/images/icons/logoLight.svg">
      <a class="header__a_logo link" 
        id="header_logo_link" 
        {{#if isAuthorized}} 
        href="/"
        {{else}}
        href="/login"
        {{/if}}>
        NovaMusic
        </a>
    </div>
    <div class="header__right-block" id="header_login_menu">
      {{#if isAuthorized}}
      <a class="header__a_navlink" id="header_logout_link" href="/login">Выход</a>
      {{else}}
      <a class="header__a_navlink link navlink" id="header_login_link" href="/login">Войти</a>
      <a class="header__a_navlink link navlink" id="header_signup_link" href="/signup">Регистрация</a>
      {{/if}}
    </div>
  </div>
</div>