<div class="header__container">
  <div class="header__row">
    <div class="header__left-block">
      <button class="header__btn_logo" id="header_logo_button">NovaMusic</button>
    </div>
    <div class="header__right-block" id="header_login_menu">
      {{#if user}}
      <button class="header__btn_login" id="header_logout_button">Выход</button>
      {{else}}
      <button class="header__btn_login" id="header_login_button">Войти</button>
      <button class="header__btn_signup" id="header_signup_button">Регистрация</button>
      {{/if}}
    </div>
  </div>
</div>