.statistic {
    &__container {
        max-width: 1280px;
        margin: 0 auto;
    }

    &__block {
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        background-color: rgba(241.39, 241.39, 241.39, 0.1);
        border-radius: 9px;
        margin-top: 12px;
    }

    &__statistic_item {
        color: #f1f1f1;
        font-size: 22px;
        font-weight: 400;
        margin: 10px;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    &__topic {
        margin-left: 30px;
    }
}

.rating {
    &__container {
        display: flex;
        flex-direction: row;
        margin-right: 30px;
        gap: 5px;
    }

    &__block {
        width: 15px;
        height: 30px;
        display: flex;
        justify-content: center;
        padding: 10px;
        background: rgba(241.39, 241.39, 241.39, 0.25);
        border-radius: 9px;
        color: #f1f1f1;
        font-size: 18px;
        font-weight: 400;
    }

    &__block_active {
        width: 15px;
        height: 30px;
        display: flex;
        justify-content: center;
        gap: 5px;
        padding: 10px;
        background: rgba(100, 198, 97, 0.50);
        border-radius: 9px;
        color: #f1f1f1;
        font-size: 18px;
        font-weight: 400;
    }
}


    
    //   &__topic,
    //   &__score {
    //     display: inline-block;
    //     margin: 0 10px;
    //   }