.header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #1f1f1f;
  z-index: 1337;

  &__container {
    max-width: 1280px;
    margin: 0 auto;
  }

  &__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0px 0px 0px;
  }

  &__signed_block {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__profile_img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
  }

  &__left_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  &__img_logo {
    width: auto;
    height: 41px;
    vertical-align: text-bottom;
  }

  &__link_logo {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 41px;
    font-weight: 400;
    background-color: #1f1f1f;
    border: none;
  }

  &__link_logo:hover {
    opacity: 0.5;
  }

  &__link_search {
    display: block;
    color: #f1f1f1;
    text-decoration: none;
    font-size: 25px;
    padding: 20px 20px;

    &:hover {
      opacity: 0.5;
    }
  }

  &__link_signup {
    display: block;
    color: #f1f1f1;
    text-decoration: none;
    font-size: 25px;
    float: left;
    display: block;
    text-align: center;
    margin-left: 45px;
    padding: 20px 20px;

    &:hover {
      opacity: 0.5;
    }
  }

  &__link_signin {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 25px;
    float: left;
    display: block;
    text-align: center;
    margin-left: 45px;
    padding: 20px 20px;

    &:hover {
      opacity: 0.5;
    }
  }
}

.active {
  border-bottom: 3px solid #f1f1f1;
}
