.album_carousel {
	&__container {
		max-width: 1280px;
		margin: 0 auto;
	}

	&__block {
		margin: 0 auto;
		padding: 10px;
		background-color: rgba(241.39, 241.39, 241.39, 0.1);
		border-radius: 9px;
		margin-top: 12px;
	}

	&__upper_wrapper {
		padding: 0 10px;
		display: flex;
		justify-content: space-between;
	}

	&__recommend_text {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #f1f1f1;
		font-size: 24px;
		font-weight: 400;
	}

	&__show_more {
		text-decoration: none;
		color: #f1f1f1;
		font-size: 24px;

		&:visited {
			color: #f1f1f1;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	&__list {
		margin-top: 10px;
		display: flex;
		justify-content: space-around;
	}
}

.carousel {
	&__container {
		position: relative;
		width: 100%;
		padding: 10px 60px;
		/* background-color: #eee; */
		/* border: 2px solid #ccc; */
		border-radius: 10px;
		overflow: hidden;
		box-sizing: border-box;
	}

	&__area {
		width: 100%;
		overflow: hidden;
		border-radius: 10px;
		display: flex;
		justify-content: start;
	}

	&__inner {
		display: flex;
		/* gap: 10px; */
		transition: transform 0.5s ease;
		text-align: left;
	}

	&__item {
		display: flex;
		padding: 10px;
		flex-direction: column;
		align-items: center;
		/* width: 210px; */
		height: fit-content;
		flex-shrink: 0;
	}

	&__button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-color: rgba(0, 0, 0, 0.5);
		color: #fff;
		border: none;
		cursor: pointer;
		border-radius: 50%;
		width: 35px;
		height: 35px;
		font-size: 18px;

		&_prev {
			left: 10px;
		}

		&_next {
			right: 10px;
		}
	}
}

@media (max-width: 1380px) {
	.album_carousel {
	  	&__block {
			width: 90%;
	  	}
	}
}
  
@media (max-width: 768px) {
	.album_carousel {
		&__recommend_text,
		&__show_more {
			font-size: 19px;
		}
	}

	.carousel {
		&__container {
			padding: 0 45px 0 35px;
		}

		&__button {
			width: 28px;
			height: 28px;
			font-size: 16px;

			&_prev {
				left: 5px;
			}

			&_next {
				right: 5px;
			}
		}
	}
}

@media (max-width: 480px) {
	.album_carousel {
		&__recommend_text,
		&__show_more {
			font-size: 16px;
		}
	}

	.carousel {
		&__container {
			padding: 0 27px 0 22px;
		}

		&__item {
			padding: 4px;
		}

		&__button {
			width: 22px;
			height: 22px;
			font-size: 12px;

			&_prev {
				left: 0px;
			}

			&_next {
				right: 0px;
			}
		}
	}
}
