<div class="albums__container">
    <div class="albums__block">
        <div class="albums__upper_wrapper">
            <div class="albums__recommend_text">
                Альбомы
            </div>
            <a href="{{ showMoreHref }}" class="albums__show_more link_more_albums">Показать еще</a>
        </div>
        <div class="carousel__container">
            <button class="carousel__button carousel__button--prev">❮</button>
            <div class="carousel__area">
                <div class="carousel__inner" id="albums-carousel">

                </div>
            </div>
            <button class="carousel__button carousel__button--next">❯</button>
        </div>
    </div>
</div>
