@use "/src/colors.scss";

.album_carousel {
	&__upper_wrapper {
		padding: 0 10px;
		display: flex;
		justify-content: space-between;
	}

	&__recommend_text {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: colors.$white;
	}

	&__list {
		margin-top: 10px;
		display: flex;
		justify-content: space-around;
	}
}

// @media (max-width: 1380px) {
// 	.album_carousel {
// 	  	&__block {
// 			width: 90%;
// 	  	}
// 	}
// }
  
// @media (max-width: 768px) {
// 	.album_carousel {
// 		&__recommend_text,
// 		&__show_more {
// 			font-size: 19px;
// 		}
// 	}
// }

// @media (max-width: 480px) {
// 	.album_carousel {
// 		&__recommend_text,
// 		&__show_more {
// 			font-size: 16px;
// 		}
// 	}
// }
