<div class="search_line__container">
    <div class="search_line__block">
        <form class="search_line__form">
            <input type="text" class="search_line__input" placeholder="Поиск" required>
            <button class="search_line__button" type="submit">Искать</button>
        </form>
    </div>
</div>
