@use "/src/colors.scss";

.search_line {

  &__form {
    display: flex;
    //flex-direction: row;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__input {
    width: 300px;
    padding: 10px;
    background: colors.$white;
    border-radius: 9px;
    border: none;
    color: colors.$white;
  }

  &__button {
    padding: 10px 20px;
    background: colors.$orange;
    border-radius: 9px;
    border: none;
    color: colors.$white;
    text-align: center;
  }
}

