<div class="playlist_card__container">
  <div class="playlist_card__block">
    <div class="playlist_card__text">Плейлист</div>
    <div class="playlist_card__wrapper">
      <img src="{{playlist.image}}" class="playlist_card__img" />
      <div class="playlist_card__aside">
        <div class="playlist_card__info playlist_info">
          <div class="playlist_info__name"> {{playlist.name}} </div>
          <div class="playlist_info__owner">
            Автор: {{playlist.owner_name}}
          </div>
          <div class="playlist_info__likes">123 оценок нравится</div>
          <div class="playlist_info__listen">123 прослушиваний в месяц</div>
        </div>
        <div class="playlist_info__buttons buttons">
          <div class="buttons__like">
            <img src="/images/icons/heart_white.svg" class="buttons__icon" />
            Нравится
          </div>
          <div class="buttons__listen">
            <img src="/images/icons/listen.svg" class="buttons__icon" />
            Слушать
          </div>
          {{#if isMyPlaylist }}
          <div class="buttons__delete">
            <img src="/images/icons/trash_white.svg" class="buttons__icon" />
            Удалить
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
