.playlist_card {
  &__container {
    max-width: 1280px;
    margin: 0 auto;
  }

  &__block {
    margin: 0 auto;
    padding: 10px;
    background-color: hsla(0, 0%, 94.662745098%, 0.1);
    border-radius: 9px;
    margin-top: 12px;
  }

  &__text {
    color: #f1f1f1;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;
  }

  &__img {
    display: block;
    border-radius: 100%;
    width: 250px;
    height: 250px;
  }

  &__aside {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}

.playlist_info {
  &__name {
    color: #f1f1f1;
    font-size: 41px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__owner {
    color: #f1f1f1;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  &__likes,
  &__listen {
    color: #f1f1f1;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
  }

  &__listen {
    margin-bottom: 40px;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: rows;
  }
}

.buttons {
  display: flex;
  gap: 10px;

  &__like,
  &__listen {
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 5px;
    padding: 10px;
    background: rgba(241.39, 241.39, 241.39, 0.25);
    border-radius: 9px;
    color: #f1f1f1;
    font-size: 25px;
    font-weight: 400;
    transition: 0.5s;
    transition-timing-function: ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__delete {
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 5px;
    padding: 10px;
    background: rgba(241, 8, 8, 0.808);
    border-radius: 9px;
    color: #f1f1f1;
    font-size: 25px;
    font-weight: 400;
    transition: 0.5s;
    transition-timing-function: ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__icon {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 1380px) {
  .playlist_card {
    &__block {
      width: 90%;
    }
  }
}

@media (max-width: 1023px) {
  .playlist_card {
    &__img {
      height: 225px;
      width: 225px;
    }
  }

  .playlist_info {
    &__name {
      font-size: 38px;
      margin-bottom: 15px;
    }

    &__listen {
      margin-bottom: 20px;
    }
  }

  .buttons {
    &__like,
    &__listen,
    %__delete {
      font-size: 22px;
    }

    &__icon {
      width: 25px;
      height: 25px;
    }
  }
}

@media (max-width: 768px) {
  .playlist_card {
    &__img {
      height: 210px;
      width: 210px;
    }

    &__text {
      font-size: 19px;
    }
  }

  .playlist_info {
    &__name {
      font-size: 32px;
      margin-bottom: 10px;
    }
  }

  .buttons {
    &__like,
    &__listen,
    &__delete {
      padding: 8px;
      font-size: 16px;

      &:hover {
        transform: none;
      }

      &:active {
        transform: scale(1.1);
      }
    }

    &__icon {
      width: 18px;
      height: 18px;
    }
  }
}

@media (max-width: 600px) {
  .playlist_card {
    &__img {
      height: 175px;
      width: 175px;
    }

    &__wrapper {
      gap: 15px;
    }

    &__text {
      font-size: 19px;
      margin-bottom: 5px;
    }
  }

  .playlist_info {
    &__name {
      font-size: 26px;
      margin-bottom: 5px;
    }


    &__likes,
    &__listen {
      font-size: 14px;
    }

    &__listen {
      margin-bottom: 10px;
    }
  }

  .buttons {
    flex-direction: column;
    align-items: center;

    &__like,
    &__listen,
    &__delete {
      justify-content: flex-start;
      width: 135px;
      padding: 8px;
      font-size: 16px;
    }

    &__icon {
      width: 17px;
      height: 17px;
    }
  }
}

@media (max-width: 480px) {
  .playlist_card {
    &__img {
      height: 145px;
      width: 145px;
    }

    &__text {
      font-size: 16px;
      margin-bottom: 0px;
    }
  }

  .playlist_info {
    &__name {
      font-size: 22px;
      margin-bottom: 5px;
    }

    &__likes,
    &__listen {
      font-size: 14px;
      margin-bottom: 5px;
    }

    &__listen {
      margin-bottom: 10px;
    }
  }

  .buttons {
    flex-direction: column;
    align-items: center;

    &__like,
    &__listen,
    &__delete {
      justify-content: flex-start;
      width: 120px;
      padding: 5px;
      font-size: 14px;
    }

    &__icon {
      width: 15px;
      height: 15px;
    }
  }
}