<div class="playlist_card__container container">
  <div class="playlist_card__block block">
    <div class="playlist_card__text"><h4>Плейлист</h4></div>
    <div class="playlist_card__wrapper">
      <img src="{{playlist.image}}" class="playlist_card__img card-img" />
      <div class="playlist_card__aside">
        <div class="playlist_card__info playlist_info">
          <div class="playlist_info__name"> <h3>{{playlist.name}}</h3> </div>
          <div class="playlist_info__owner">
            <h4>Автор: {{playlist.owner_name}}</h4>
          </div>
          <div class="playlist_info__likes"><h5>123 оценок нравится</h5></div>
          <div class="playlist_info__listen"><h5>123 прослушиваний в месяц</h5></div>
        </div>
        <div class="playlist_info__buttons buttons">
          <div class="buttons__like buttons__button">
            <img src="/images/icons/heart.svg" class="button icon" />
            <h4>Нравится</h4>
          </div>
          <div class="buttons__listen buttons__button">
            <img src="/images/icons/play-circle.svg" class="button icon" />
            <h4>Слушать</h4>
          </div>
          {{#if isMyPlaylist }}
          <div class="buttons__delete buttons__button">
            <img src="/images/icons/music-square-remove.svg" class="button icon" />
            <h4>Удалить</h4>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
