@use "/src/colors.scss";

.playlist {
  &__liked {
    background-color: colors.$subscribe;
  }
}

.playlist_card {
  &__text {
    color: colors.$white;
    margin-bottom: 10px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    @media (max-width: 1024px) {
      gap: 25px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__img {
    display: flex;
    border-radius: 100%;
  }

  &__aside {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    color: colors.$white;
  }
}

.playlist_info {
  color: colors.$white;

  &__name,
  &__owner,
  &__likes,
  &__listen {
    display: flex;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
}

.buttons {
  &__delete {
    background: colors.$red;
  }
}

@media (max-width: 768px) {
  .playlist_card {
    &__wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    &__aside {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
  }

  .playlist_info {
    align-items: center;
    justify-content: center;

    &__name,
    &__owner,
    &__likes,
    &__listen {
      justify-content: center;
    }
  }
}
