.more_albums {
    &__container {
        max-width: 1280px;
        margin: 0 auto;
    }

    &__title {
        padding-top: 10px;
        color: #f1f1f1;
        font-size: 41px;
        font-weight: 400;
    }
}