<div class="register">
  <div class="register__container">
    <div class="register__intro">
      <h1 class="register__title">NovaMusic</h1>
      <h2 class="register__subtitle">Музакальный стриминговый сервис</h2>
      <div class="register__info">Слушайте музыку, создавайте плейлисты с друзьями,  <br />узнавайте первыми о новинках</div>
    </div>
    </div>

  <div class="register__form">
    <form id="signup-form">
      <input class="register__input" id="email" name="email" placeholder="Адрес электронной почты" required />
      <input class="register__input" id="username" name="username" placeholder="Имя пользователя" required />
      <input class="register__input" id="password" name="password" placeholder="Пароль" required />
      <button class="register__submit_btn" type="submit">Регистрация</button>
      <div class="register__additional">
        Уже есть аккаунт? <a class="register__enter_account" href="/login">Войдите в него</a></span>
      </div>
      <div id="message-box"></div>
    </form>
  </div> 
</div>

