$black: #1f1f1f;
$white: #f1f1f1;
$orange: #ff5f0f;
$light-gray: #474646;
$red: #cf0303;
$block-background: rgba(241.39, 241.39, 241.39, 0.1);
$button-background: rgba(241.39, 241.39, 241.39, 0.25);
$subscribe: #3a7834;
$dark-orange: #e65c00;
