@import './entities/track/ui/track.css';
@import './entities/artist/ui/artist.css';
@import './widgets/player/ui/player.css';
@import './widgets/trackList/ui/trackList.css';
@import './widgets/artistList/ui/artistList.css';

body {
  font-family: 'Sansation', sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
}

#root {
  display: block;

  grid-template-areas:
    'header'
    'content';

  grid-template-rows: 100px 1fr;
  grid-template-columns: min-content 1fr;
}

main {
  grid-area: content;
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg,
      rgba(168, 72, 10, 1) 0%,
      rgba(44, 25, 17, 1) 100%);
  background-attachment: fixed;
}

.message-success {
  width: 450px;
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: green;
  margin-top: 10px;
  text-align: center;
}

.message-error {
  width: 450px;
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: red;
  margin-top: 10px;
  text-align: center;
}
