h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
}

main {
  grid-area: content;
  height: 100%;
}

main::after {
  content: '';
  display: block;
  height: 200px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #172b7b 0%, #020718 100%);
  background-attachment: fixed;
  font-family: 'Sansation', sans-serif;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.message-success {
  width: 450px;
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: green;
  margin-top: 10px;
  text-align: center;
}

.message-error {
  width: 450px;
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: red;
  margin-top: 10px;
  text-align: center;
}
