<div class="user-playlists__container">
    <div class="user-playlists__block">
        <div class="user-playlists__text">
            Плейлисты пользователя
            {{#if isMyProfile }}
            <div class="buttons__new" id="add-playlist">
                <img src="/images/icons/sub.svg" class="buttons__icon" />
                Создать плейлист
            </div>
            {{/if}}
        </div>
        <div class="user-playlists__list" id="user-playlists">

        </div>
    </div>
</div>