<div class="user-playlists__container container">
    <div class="user-playlists__block block">
        <div class="user-playlists__text">
            <h4>Плейлисты пользователя</h4>
            {{#if isCurrentUser }}
            <div class="buttons__new buttons__button" id="add-playlist">
                <img src="/images/icons/music-square-add.svg" class="button icon" />
                <h4>Создать плейлист</h4>
            </div>
            {{/if}}
        </div>
        <div class="user-playlists__list" id="user-playlists">

        </div>
    </div>
</div>