.user-playlists {
	&__container {
		max-width: 1280px;
		margin: 0 auto;
	}

	&__block {
		margin: 0 auto;
		padding: 10px;
		background-color: rgba(241.39, 241.39, 241.39, 0.1);
		border-radius: 9px;
		margin-top: 12px;
	}

	&__text {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #f1f1f1;
		font-size: 24px;
		font-weight: 400;
	}

	&__show_more {
		text-decoration: none;
		color: #f1f1f1;

		&:visited {
			color: #f1f1f1;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	&__list {
		margin-top: 10px;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

    .buttons {
        display: flex;
        gap: 10px;
      
        &__new {
          display: flex;
          justify-content: space-around;
          align-content: center;
          gap: 5px;
          padding: 10px;
          background: rgba(241.39, 241.39, 241.39, 0.25);
          border-radius: 9px;
          color: #f1f1f1;
          font-size: 25px;
          font-weight: 400;
          transition: 0.5s;
          transition-timing-function: ease;
      
          &:hover {
            transform: scale(1.1);
          }
        }
      
        &__icon {
          width: 30px;
          height: 30px;
        }
    }
}


@media (max-width: 1380px) {
	.user-playlists {
		&__block {
			width: 90%;
		}
	}
}

@media (max-width: 1024px) {
	.buttons {
		&__new {
		font-size: 32px;
		}
	}
}

@media (max-width: 768px) {
	.user-playlists {

		&__show_more,
		&__text {
			font-size: 19px;
		}
	}

	.buttons {
		&__new {
		font-size: 24px;
		}
	}
}

@media (max-width: 480px) {
	.user-playlists {

		&__show_more,
		&__text {
			font-size: 19px;
		}
	}

	.buttons {
		&__new {
			padding: 8px;
		font-size: 20px;
		}
	}
}