<div class="albums__container">
  <div class="albums__block">
    <div class="albums__recommend_text">
        Альбомы
    </div>
    <div class="albums__list" id="albums">
    
    </div>
  </div>
</div>