<div class="albums__container">
  <div class="albums__block">
    <div class="albums__text">
      Альбомы
      {{#if showMoreHref}}
        <a href="{{ showMoreHref }}" class=" albums__show_more link">Показать еще</a>
      {{/if}}
    </div>
    <div class="albums__list" id="albums">
    
    </div>
  </div>
</div>