<div class="{{ styles.albums__container }}">
  <div class="{{ styles.albums__block }}">
    <div class="{{ styles.albums__recommend_text }}">
        Альбомы
    </div>
    <div class="{{ styles.albums__list }}" id="albums">
    
    </div>
  </div>
</div>
