<div class="{{ styles.albums__container }} container">
  <div class="{{ styles.albums__block }} block">
    <div class="{{ styles.albums__recommend_text }}">
        <h4>Альбомы</h4>
    </div>
    <div class="{{ styles.albums__list }}" id="albums">
    
    </div>
  </div>
</div>
