<div class="albums__container container">
  <div class="albums__block block">
    <div class="albums__recommend_text">
      <h4>Альбомы</h4>
    </div>
    <div class="albums__list" id="albums">
    
    </div>
  </div>
</div>