<div class="albums__container">
  <div class="albums__block">
    {{#if showMoreHref}}
      <div class="albums__text">
        Популярные альбомы
        <a href="{{ showMoreHref }}" class=" albums__show_more link">Показать еще</a>
      </div>
    {{/if}}
    <div class="albums__list" id="albums">
    
    </div>
  </div>
</div>