<div class="artists__container container">
  <div class="artists__block block">
    <div class="artists__recommend_text">
      <h4>Популярные артисты</h4>
    </div>
    <div class="artists__list" id="mainpage-popular-artists">
    
    </div>
  </div>
</div>
