@use "/src/colors.scss";

.artists {

	&__recommend_text {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: colors.$white;
	}

	&__list {
		margin-top: 10px;
	}

  /* &__show_more {
    text-decoration: none;
    color: #f1f1f1;

    &:visited {
      color: #f1f1f1;
    }

    &:hover {
      text-decoration: underline;
      text-decoration-color: #FF5F0F;
    }
  } */
}

/* @media (max-width: 1380px) {
  .artists {
    &__block {
      width: 90%;
    }
  }
}

@media (max-width: 768px) {
  .artists {
    &__text {
      font-size: 19px;
    }
  }
}

@media (max-width: 480px) {
  .artists {
    &__text {
      font-size: 16px;
    }
  }
}
 */