<div class="{{ styles.artists__container }} container">
  <div class="{{ styles.artists__block }} block">
    <div class="{{ styles.artists__recommend_text }}">
      <h4>Популярные артисты</h4>
    </div>
    <div class="{{ styles.artists__list }} list" id="mainpage-popular-artists">
    
    </div>
  </div>
</div>
