<div class="artists__container">
  <div class="artists__block">
    {{#if showMoreHref}}
      <div class="albums__text">
        Популярные артисты
        <a href="{{ showMoreHref }}" class=" albums__show_more link">Показать еще</a>
      </div>
    {{/if}}
    <div class="artists__list" id="mainpage-popular-artists">
    
    </div>
  </div>
</div>
