<div class="artists__container">
  <div class="artists__block">
    <div class="artists__recommend_text">
      Популярные артисты
    </div>
    <div class="artists__list" id="mainpage-popular-artists">
    
    </div>
  </div>
</div>
