<div class="popular_artists__container">
  <div class="popular_artists__block">
    <div class="popular_artists__text">Популярные артисты</div>
    <div class="popular_artists__list" id="mainpage-popular-artists">
    
    </div>
  </div>
</div>
