<div class="{{ styles.artists__container }}">
  <div class="{{ styles.artists__block }}">
    <div class="{{ styles.artists__recommend_text }}">
      Популярные артисты
    </div>
    <div class="{{ styles.artists__list }}" id="mainpage-popular-artists">
    
    </div>
  </div>
</div>
