<div class="error-container">
    <div class="error-title">Ошибка</div>
    <div class="error-message">{{message}}</div>
    
    <div class="error-actions">
        <button id="refresh-button">Обновить страницу</button>
        <button id="back-button">Назад</button>
    </div>
</div>
